
@font-face {
  font-family: 'Cooper Lt';
  src: url('../fonts/Cooper_Lt_BT.ttf') format('truetype');;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('truetype');;
}
